@charset "UTF-8";
body {
  background-color: black;
}
h1 {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font: size 100px;
}

h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
